.sys > .card-body{
    padding: 2.5%;
}

#navBarTitle {
    font-size: 2rem;
}

.sys > .card-header {
    font-size: 2rem;
}
.sys > .card-header > .fas {
    font-size: 3rem;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}