html body {
    margin: 0;
}

.middle {
    width: 75vw;
    min-height: 100vh;
    margin: auto;
}
.system_table {
    width: 100%;
    font-size: 2rem;
    
}
.system_image {
    width: 10%;
}
.system_name {
    width: 90%;
}