<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <title>Config Upload</title>

        <link rel="stylesheet" href="assets/css/main.css">
        
        <script src="assets/js/jquery-3.4.1.js"></script>
        <link rel="stylesheet" href="assets/css/fontawesome.min.css">
        <link rel="stylesheet" href="assets/css/bootstrap.css">
    </head>

    <body class="bg-dark">

        <nav class="navbar sticky-top navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1" id="navBarTitle"><i class="far fa-edit"></i> Config Upload</span>

        </nav>

        <div class="container-fluid bg-dark">
            
            <div class="row">
                <!-- Sidebar -->
                <div id="sidebar" class="col-md-6">
                    <div class="card">
                        <h5 class="card-header">
                            Config
                        </h5>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="custom-file text-left">
                                    <input type="file" class="custom-file-input" id="configUpload" accept=".json">
                                    <label class="custom-file-label" for="configUpload">Choose file</label>
                                </div>
                                <button type="button" id="uploadConfig" class="btn btn-primary btn-block"><i class="fas fa-upload"></i>    Upload</button>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="configEditor" rows="20" disabled></textarea>
                            </div>
                            <button type="button" id="testConfig" class="btn btn-primary btn-block"><i class="fas fa-play float-left"></i>    Test</button>
                            <button type="button" id="uploadServer" class="btn btn-primary btn-block"><i class="fas fa-upload float-left"></i>    Upload To Server</button>
                            <button type="button" id="getCurrentConfig" class="btn btn-primary btn-block"><i class="fas fa-download"></i>    Download Current Config</button>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-5" id="systems">
                    
                </div>

                <!-- Back to top Button -->
                <div class="col-md-1">
                    <button id="back-to-top" class="btn btn-primary btn-lg back-to-top" style="display: none;"><i class="fas fa-arrow-up"></i></button>
                </div>
            </div>
        </div>
       
        <script src="assets/js/bootstrap.bundle.js"></script>
        <script src="assets/js/editor.mjs" type="module"></script>
    </body>
</html>