<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <title>SystemUI</title>

        <link rel="stylesheet" href="assets/css/main.css">
        
        <script src="assets/js/jquery-3.4.1.js"></script>
        <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    </head>

    <body>
        <div class="middle">
            <div class="header"></div>
            <div id="systems"></div>
        </div>
       <script src="assets/js/main.mjs" type="module"></script>
    </body>
</html>